h3 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
}

.page-header a {
  color: #ffffff;
}

.page-header a:hover {
  text-decoration:none; !important
  font-weight:bold; !important
  cursor:default; !important
}

.container {
  float: none;
  max-width: 100%;
  max-height: 100%;
}

.content-centered {
  text-align: center;
  padding: 20px;
  max-width: 70%;
  margin: 0 auto; 
  display: block;
  overflow: auto;
}

.content-column {
  float: left;
  text-align: center;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 64em) {
  .content-column {
    width: 33.333%; 
  } 
}

#home {
  text-align: center;
}

#home h1 {
  margin-bottom: 30px;
}

#home ul {
  margin-bottom: 50px;
}

#home li {
  list-style-type: none;
  font-size: 25px;
}

#mc_embed_signup .button {
  color: #f0ad4e;
}

.header-menu {
  margin-top: 50px;
  text-align: center;
}

.header-menu a {
  margin-right: 15px;
  margin-left: 15px;
  font-size: 20px;
  font-weight:bold; !important
  word-break: keep-all;
}

.header-menu a:hover {
  text-decoration:underline; !important
  font-weight:bold; !important
  cursor:default; !important
}