<section class="container">
		<div class="row mt centered">
			<div class="content-centered">
				<h3>Не прекращай развиваться. Каждое утро, день и вечер в <a href="https://telegram.me/iosgr">Telegram-канале</a> тебя ждет новый интересный материал, так или иначе связанный с iOS разработкой.</h3>
				<h3>Привыкли получать все сразу? Подписывайтесь на нашу еженедельную рассылку с лучшими материалами из канала за неделю.</h3>
			</div>
		</div><!-- /row -->
		
		<div class="content-centered">
			<div class="content-column">
				<img src="http://iosgoodreads.ru/assets/img/ser01.png" width="180" alt="">
				<h4>1 - Статьи</h4>
				<p>В канале появляются статьи на различные темы: архитектура, паттерны, философия разработки, нейронные сети - все, что так или иначе связано с iOS разработкой.</p>
			</div><!--/col-lg-4 -->

			<div class="content-column">
				<img src="http://iosgoodreads.ru/assets/img/ser02.png" width="180" alt="">
				<h4>2 - Видео</h4>
				<p>Записи лучших докладов с различных конференций, как отечественных, так и заграничных: AltConf, UIKonf, MBLTdev, Rambler.iOS.</p>

			</div><!--/col-lg-4 -->

			<div class="content-column">
				<img src="http://iosgoodreads.ru/assets/img/ser03.png" width="180" alt="">
				<h4>3 - Новости</h4>
				<p>Если в мире iOS разработки произошло что-то значимое - ты узнаешь об этом одним из первых!</p>

			</div><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><!-- /container -->