<section class="page-header">
  <a href="index.html"><h1 class="project-name">{{ site.title }}</h1></a>
  <h2 class="project-tagline">{{ site.tagline }}</h2>

  <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<div id="mc_embed_signup">
<form action="//iosgoodreads.us14.list-manage.com/subscribe/post?u=a2b9e761f89a1b2025c229cb4&amp;id=8692bfe6a5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL"></label>
	<input type="email" value="" style="width: 200px" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Ваш email адрес" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a2b9e761f89a1b2025c229cb4_8692bfe6a5" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" style="background-color: #f0ad4e" value="Подписаться на рассылку" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<div class="header-menu"><a href="https://telegram.me/iosgr" target="_blank">Telegram-канал</a><a href="archive.html">Архив выпусков</a><a href="sponsorship.html">Для спонсоров</a></div>
</section>